<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktopScheduler.Properties.Settings.database" connectionString="server=wgudb.ucertify.com;user id=U057MV;password=53688432820;persistsecurityinfo=True;database=U057MV"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>